<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.parse.cordova"
        version="0.2.0">

  <name>Parse</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/parse.js" target="js/parse.js"/>

  <js-module src="www/parse.js" name="parse">
    <clobbers target="cordova.plugins.Parse" />
  </js-module>

  <preference name="FACEBOOK_APP_NAME" />
  <preference name="FACEBOOK_APP_ID" />

  <platform name="ios">
    
    <config-file target="config.xml" parent="/*">
      <feature name="Parse">
        <param name="ios-package" value="CDVParse"/>
      </feature>
    </config-file>

    <header-file src="src/ios/CDVParse.h" target-dir="ParsePlugin"/>
    <source-file src="src/ios/CDVParse.m" target-dir="ParsePlugin"/>

    <framework src="Accounts.framework" />
    <framework src="AudioToolbox.framework" />
    <framework src="CFNetwork.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreLocation.framework" />
    <framework src="MobileCoreServices.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="Security.framework" />
    <framework src="Social.framework" />
    <framework src="StoreKit.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="libz.dylib" />
    <framework src="libsqlite3.dylib" />

    <config-file target="*-Info.plist" parent="FacebookDisplayName">
       <string>[**FACEBOOK_APP_NAME**]</string>
    </config-file>
    
    <config-file target="*-Info.plist" parent="FacebookAppID">
       <string>[**FACEBOOK_APP_ID**]</string>
    </config-file>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
          <dict>
              <key>CFBundleURLSchemes</key>
              <array>
                <string>fb[**FACEBOOK_APP_ID**]</string>
              </array>
          </dict>
      </array>
    </config-file>

  </platform>

</plugin>